/* SP */
.main.sp .tutorial{margin: 0;}

.sp h2{margin:10px auto 12px auto; width:100%; text-align: center; color:#ff763d; line-height:1.8; }
.sp #spTopImage{width: 100%;}
.sp .plans {background-color:#f9f9f9; }
.sp .plans ul{padding: 0 15px 0 15px; }
.sp .plans #popularTitle{text-align: center; padding: 8px 0 0;}

.sp li .planTitle{height:100px; color: #555555; font-size: 18px; }
.sp li .planTitle .heightMiddle{color:#202020;}
.sp .spList {height:200px; margin:0 15px 18px 0; background-color:#fbfbfb; padding: 28px; }

.sp .image{float:left;}
.sp .sentence{float:left; height:200px; margin: 0 0 0 15px; }

/*
.sp .sentence{float:right; width:484px; height:162px; border:1px solid #aaa; padding:18px;}
*/
.sp .image { width:240px; height:200px; position: relative; }
.sp .cover {display:inline-block; background-color: #ccc; background-position: center center; background-repeat: no-repeat; width: 240px; height: 200px; background-size: cover; }
