<div id="gHeader">
	<%= link_to_unless_current image_tag('sp/sp_icon.png' ,:id => 'spHeader', :alt => 'tabilist.jp'), '/' %>
	<%= link_to_unless_current image_tag('sp/icon_search.png' ,:id => 'spSearch', :alt => '都道府県からプランを探す'), '/' %>	
</div>